@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.container .leftsec {
  width: 40%;
}
.container .rightsec {
  width: 60%;
  padding-left: 30px;
}

h2 {
  margin-top: 0px;
  font-size: 44px;
  letter-spacing: -2px;
  font-weight: 400;
}
h3 {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #1b1919;
  font-weight: 400;
}
h3 span {
  color: #009688;
  font-weight: 500;
}
.active {
  border: 2px solid #009688;
}
.imgcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.imgcontainer .imgbox {
  width: 89px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.imgcontainer img {
  width: 100%;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
}
.description {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
}

#addtocart {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 2px;
  background-color: #009688;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in;
  border: 2px solid transparent;
}
#addtocart:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}
#addtocart:hover {
  color: #009688;
  border-color: #009688;
  background-color: #fff;
  box-shadow: none;
}
/* left section */
.leftimgcontainer {
  width: 100%;
}
.leftimgcontainer img {
  width: 100%;
  border-radius: 10px;
}

/* responsive */
@media (max-width: 480px) {
  .container .leftsec,
  .container .rightsec {
    width: 100%;
  }
  .container .rightsec {
    padding-left: 0px;
    padding-top: 20px;
  }
  .imgcontainer {
    margin: 20px 0px;
  }
  .imgcontainer .imgbox {
    margin: 5px 5px;
    width: 16%;
  }
  .leftimgcontainer {
    margin-top: 30px;
  }
}
